---
title: Integrations
owner: London Services
---

These partners have single sign-on integrations with Pivotal Web Services. Users are responsible for manual account provisioning and application integration, and billing is handled by the provider.

<p class='note'><strong>Note</strong>: SSL (HTTPS) will not work with custom domains without the use of third-party SSL termination.
Pivotal recommends using <a href="./cloudflare/index.html">CloudFlare</a> for this service.</p>