---
title: Externally Visible IP Addresses
owner: Cloud Ops
---

<strong><%= modified_date %></strong>

Pivotal Web Services (PWS) no longer supports static external IP addresses. Instead, PWS uses a BOSH feature that automatically assigns public IP addresses to VMs. This feature assigns public IPs to the Diego cell VMs, which host all the app instances running on PWS. 

<p class='note warning'><strong>Note</strong>: The IP address assigned to a particular VM is ephemeral and may change at any time.</p>

However, you can obtain a list of possible source IP address ranges. For example, you might need source IP address ranges to integrate your app with a log management service. 

To generate a list of possible external IP address ranges for apps hosted on PWS, run the following `curl` command:

<pre class="terminal">
$ curl https://ip-ranges.amazonaws.com/ip-ranges.json | \
  ruby -rjson -e \
  'puts JSON.pretty_generate( \
  JSON.parse(STDIN.read)["prefixes"].select {|v| \
  v["region"] == "us-east-1" && v["service"] == \
  "EC2"}.map{|v| v["ip_prefix"]} )'
</pre>


<p class="note"><b>Note</b>: PWS is currently hosted on the <code>us-east-1</code> region.</p>

For more information, see the [Public IPs for Diego Cells](http://engineering.pivotal.io/post/public-ips-for-diego-cells/) blog post.
