---
title: Marketplace
owner: Docs
---

The Services Marketplace provides users of Pivotal Web Services with self-service, on-demand provisioning of add-on services. Services can provide data persistence for applications as well as search, caching, messaging, and more. But services not only enhance applications, they can better enable development teams themselves, providing accounts on applications for continuous integration or load testing.

## <a id='users'></a>For Users ##

* [Marketplace Services](./services/)
* [Integrations](./integrations/)
* [Adding and Binding Services Using the PWS Apps Manager](./use-console.html)
* [Using the Pivotal SSL Service](./pivotal-ssl.html)
* [Contacting Service Providers for Support](contacting-service-providers-for-support.html)

## <a id='providers'></a>For Providers ##

* [Provider Documentation](./providers/index.html)
* [Externally Visible IP Addresses](./external-ips.html)
