---
title: Provider Documentation
owner: Partners
---

<strong><%= modified_date %></strong>

## <a id='integration'></a>Integrating With Cloud Foundry ##

Pivotal has partnered with AppDirect for marketplace services on [Pivotal Web Services](http://run.pivotal.io), Pivotal's public Cloud Foundry instance. 

## <a id='docs'></a>Documentation ##

Service providers can manage their own documentation.
Fork the [docs-pws-services](https://github.com/pivotal-cf/docs-pws-services) GitHub repository and issue pull requests to update your Marketplace Services documentation page.

Your documentation page should reside at `marketplace/services/YOURSERVICE.html.md.erb`, where `YOURSERVICE` is the name of your service.

The [Provider Documentation Template](provider-template.html) exists to help you get started. When using this template, include the **Managing Services** and **Support** sections with links. If your service is bindable, you should also include the **Environment Variables** section.

## <a id='sample-apps'></a>Sample Apps ##

Sample apps that work out-of-the box can provide an excellent user experience. With a sample app, developers can validate that your service works as expected. Your sample app should provide a code example that shows how to integrate an application with your service.

<%= vars.recommended_by %> recommends publishing your sample application in one of two ways:

* You can provide your sample app in your own GitHub repository, and we can include it in the [https://github.com/cloudfoundry-samples](https://github.com/cloudfoundry-samples) GitHub repository.
* You can send us the code for your app and we can add it directly to the [https://github.com/cloudfoundry-samples](https://github.com/cloudfoundry-samples) GitHub repository.