---
title: Provider Documentation
---

## <a id='integration'></a>Integrating With Cloud Foundry ##

Pivotal has partnered with AppDirect for marketplace services on [Pivotal Web Services](http://run.pivotal.io), Pivotal's public Cloud Foundry instance. Service providers interested in adding their service to the Pivotal CF Marketplace should contact [Eli Aleyner](mailto:ealeyner@pivotal.io) for more information.

Documentation on AppDirect's API for Cloud Foundry can be found here:
[http://info.appdirect.com/developer/docs/cloud-foundry/](http://info.appdirect.com/developer/docs/cloud-foundry/)

## <a id='google-group'></a>Google Group ##

Join our Google Group to receive announcements regarding integration with Cloud
Foundry: [https://groups.google.com/forum/#!forum/cloud-foundry-partners](https://groups.google.com/forum/#!forum/cloud-foundry-partners)

## <a id='docs'></a>Documentation ##

Service providers should feel enabled to manage their own documentation.
Clone the docs-pws-services repo ([https://github.com/pivotal-cf/docs-pws-services](https://github.com/pivotal-cf/docs-pws-services)) and issue pull
requests to update your Marketplace Services documentation page.

Your documentation page should reside at
`marketplace/services/yourservice.html.md`.

There is a template available to get you started.
Please include the Managing Services and Support sections with links included;
feel free to add additional information as appropriate.
If your service is bindable, you should include the section on Environment
Variables.

[Provider Documentation Template](provider-template.html)

## <a id='sample-apps'></a>Sample Apps ##

Providing a sample application that works out of the box provides an excellent
user experience.
Developers can validate that your service works as expected, and the sample app
should provide a code example for how to integrate an application with your
service.
There are two ways we recommend publishing your sample application:

1. You can host your sample app in your own repo, and we can fork it into
https://github.com/cloudfoundry-samples
2. You can send us the code for your app and we can add a new repo to
https://github.com/cloudfoundry-samples

## <a id='binding-credentials'></a>Binding Credentials ##

See [Binding Credentials](/services/binding-credentials.html).
