---
title: Dynatrace
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to set up monitoring for your Pivotal Web Services (PWS) app using Dynatrace OneAgent.

As a PWS user, you can use Dynatrace OneAgent to monitor your apps to improve performance.
Dyntrace OneAgent gives you visibility into app performance without modifying code.
For example, you can pinpoint bottlenecks in your app
or determine sources of latency.

##<a id='supported-buildpacks'></a>PWS Buildpacks Supported by Dynatrace OneAgent
PWS provides buildpacks for many common programming languages and frameworks, such as Java and Node.js.

For the list of supported buildpacks, see [Supported Cloud Foundry buildpacks](https://www.dynatrace.com/support/help/cloud-platforms/reference/supported-cloud-foundry-buildpacks/).


##<a id='create-dynatrace-service'></a>Create and Bind a Dynatrace Service in your PWS Environment 
PWS allows you to connect apps with third-party tools and other external resources by means of services.
On PWS, service instances hold the credentials that are required to connect to such resources.
You use this same approach to connect your apps with Dynatrace OneAgent.

As a PWS user, you need to define this service instance by creating a user-provided service.

To create a user-provided service for Dynatrace OneAgent, do the following:

1. Generate a PaaS token for your Dynatrace OneAgent environment.

    See [Generate PaaS token](https://www.dynatrace.com/support/help/cloud-platforms/cloud-foundry/how-do-i-monitor-cloud-foundry-applications/#generate-paas-token) in the Dynatrace documentation.

1. Create a Dynatrace service on PWS using **Option 1: Create a User-Provided Service**.

    See [Create a Dynatrace service in your Cloud Foundry environment](https://www.dynatrace.com/support/help/cloud-platforms/cloud-foundry/how-do-i-monitor-cloud-foundry-applications/#create-a-dynatrace-service-in-your-cloud-foundry-environment).

    <p class="note"><strong>Note:</strong> Option 1: Create a User-Provided Service is the only choice that works in PWS.</p>

1. Bind the created Dynatrace service to your app.

    See [Bind Dynatrace service to your application](https://www.dynatrace.com/support/help/cloud-platforms/cloud-foundry/how-do-i-monitor-cloud-foundry-applications/#bind-dynatrace-service-to-your-application).

For detailed instructions, see [How do I monitor Cloud Foundry applications?]
(https://www.dynatrace.com/support/help/cloud-platforms/cloud-foundry/how-do-i-monitor-cloud-foundry-applications/) in the Dynatrace documentation.


##<a id='update-dynatrace'></a>Update Dynatrace OneAgent on PWS

When a new version of Dynatrace OneAgent becomes available, 
then restart your PWS app using `cf restage APP-NAME`.<br><br>
The Cloud Foundry buildpack automatically fetches the latest version of Dynatrace OneAgent.
After restart, your Cloud Foundry apps are monitored with the latest version of Dynatrace OneAgent.

## <a id='support'></a>Support ##

[Contacting Service Providers for Support](../contacting-service-providers-for-support.html)

* Documentation - https://www.dynatrace.com/support/doc/
* FAQ - https://www.dynatrace.com/trial/appmon/faq/
