---
title: ElephantSQL
owner: Partners
---

<strong><%= modified_date %></strong>

## <a id='managing-services'></a>Managing Services ##

[Managing Services](/devguide/services/managing-services.html)

## <a id='integration'></a>Integrating the Service With Your App ###

Format of credentials in VCAP_SERVICES

~~~xml
{
  elephantsql-dev: [
  {
    name: "elephantsql-dev-c6c60",
    label: "elephantsql-dev",
    plan: "turtle",
    credentials: {
      uri: "postgres://seilbmbd:examplepass@babar.elephantsql.com:5432/seilbmbd"
    }
  }
  ]
}
~~~

## Sample Application

https://github.com/cloudfoundry-samples/spring-music

## <a id='addl-docs'></a>Additional Documentation

http://www.elephantsql.com/docs/index.html

## <a id='support'></a>Support ##

[Contacting Service Providers for Support](../contacting-service-providers-for-support.html)

http://www.elephantsql.com/support.html


