---
title: flowthings.io
---

[flowthings.io](https://flowthings.io) is a cloud-based solution for:

  * Real time data collection
  * Complex event processing
  * Data delivery 

Using flowthings.io, you can:

  * Build surprisingly powerful applications and solutions that leverage realtime data from the Internet of Things as well as traditional sources.
  * Perform realtime processing in the cloud to create intelligent insights and actions from any number of sources.
  * Deliver those insights to users, apps, and devices, empowering them to make the right decision at the right time.

## <a id='managing'></a>Create and manage service instances ##

You add and bind flowthings.io through the Pivotal Web Services Apps Manager. See [Adding and Binding Services Using the PWS Apps Manager](../use-console.html) for more information.

See the [Managing services from the command line](/devguide/services/managing-services.html) topic for more information about managing your service from the command line.

## <a id='using'></a>Configure flowthings.io for your application ##

Once you bind flowthings.io to your app, you can find the service credentials stored in the [VCAP_SERVICES](../../devguide/deploy-apps/environment-variable.html#VCAP-SERVICES) environment variable in the following format:

```
{
   "flowthings": [
      {
         "name": "flowthings",
         "label": "flowthings",
         "plan": "free",
         "credentials": {
            "account": "<account_name>",
            "token": "<account_token>"
         }
      }
   ]
}
```

Use the `account` and `token` from the credentials to communicate between your application and flowthings.io through any of the protocols supported by flowthings.io or with one of [various libraries](https://flowthings.io/developers/libraries).

If you use the flowthings.io Node.js library, once the library is installed (typically via your package.json file) you can connect as follows:

```
var flowthings = require('flowthings')

var flowthingsAccount = config['flowthings'][0].credentials.account;
var flowthingsToken = config['flowthings'][0].credentials.token;

var creds = {account: flowthingsAccount, token: flowthingsToken};
var api = flowthings.API(creds);
```

See the [Node.js library](https://github.com/flowthings/node-client/blob/master/README.md) documentation for more information.

## Use flowthings.io

Once you configure your credentials for your library of choice, you can use the service to collect, process, and deliver realtime streams of agile intelligence to and from your application.

To learn more about the functionalities and services provided by flowthings.io, see the [documentation](https://flowthings.io/docs/getting-started) and [tutorials](https://flowthings.io/developers/tutorials). 

